@import '../../../../styles/_colors';

.fileDropper {
  padding: 25px;
  border: 1px dashed $light-grey;
  text-align: center;
  cursor: pointer;
  transition: .5s all;
  &:hover {
    border: 1px dashed $primary-green;
  }
  .blurb {
    color: $medium-grey;
    margin-bottom: 15px;
  }
  .uploadIcon {
    color: $medium-grey;
    font-size: 32px;
  }
  .invalidType {
    color: $invalid-red;
    font-size: 10px;
  }
  .progressMessage {
    color: $medium-grey;
    margin-top: 80px;
  }
}
