@import '../../../styles/_colors';

.notStarted {
  color: white !important;
  background-color: $darker-green !important;
}

.inProgress {
  color: white !important;
  background-color: $faded-green-2 !important;
}

.completed {
  color: white !important;
  background-color: $primary-green !important;
}
