@import '../../styles/_colors';
@import '../../styles/_mixins';

.appBar {
  background-color: $primary-green;
  padding: 0 30px;
  width: 100%;
}

.appBarContent {
  display: flex;
}

.appBarLogoHolder {
  display: none;
}

.appBarLogo {
  width: 32px;
  height: 32px;
  margin-right: 30px;
}

.appBarButtons {
  flex: 1 0 auto;

  >* {
    display: block;
  }
}

.nameWrapper {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

.appBarButton, .appBarLink, .appBarLinkActive, .appBarButtonProfile {
  font-size: 12px;
  line-height: 55px;
  cursor: pointer;
  display: block;
  background: none;
  border: none;
  vertical-align: top;
  font-family: Halcom-bold;
  color: white;
  letter-spacing: 3px;
  border-bottom: 5px solid transparent;
  transition: .3s border, .3s color;
  &:focus {
    outline: none;
    border-bottom: 5px solid white;
    color: white;
  }
  &:hover {
    color: white;
  }
}

.appBarLinkActive {
  border-bottom: 5px solid white;
}

.profileDropdown {
  float: right;
}

.profileDropdownMenu {
  margin-top: -5px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  max-width: 500px !important;
  min-width: 225px !important;
}

.organizationName {
  text-align: center;
  font-size: 12px;
  color: $medium-grey;
  border-bottom: 1px solid $light-grey;
  padding: 15px;
}

.feedbackText {
  text-align: center;
  font-size: 12px;
  padding: 15px;
  margin-bottom: 15px;
  line-height: 1.4;
  a {
    text-decoration: underline;
  }
}

.logoutButton {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  color: white;
}

@include for-phone-only {
  .appBar {
    padding: 0 15px;
  }
}

@include for-tablet-landscape-up {
  .appBar {
    padding: 0 65px;
  }
  .appBarButtons {
    >* {
      display: inline-block;
      margin: 0 30px;
    }
  }
  .appBarButton, .appBarLink, .appBarLinkActive {
    line-height: 66px;
    display: inline-block;
  }
  .appBarLogoHolder {
    display: flex;
    align-self: center;
  }
  .profileDropdown {
    margin: 0;
  }
}
