@import '../../styles/_colors';
@import '../../styles/_mixins';

.appBar {
  width: 100%;
  padding: 0px 10px;

  display: inline-block;

  &.isHidden {
    display: none;
  }
}

.appBarLink {
  margin: 0 10px;
  font-size: 12px;
  line-height: 55px;
  float: right;
  color: $primary-green;
  letter-spacing: 1.7;
  font-family: Halcom-bold;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: $primary-green;
  }
}

.appBarLogo {
  margin: 14px 50px 9px 30px;
  box-shadow: 0 4px 5px 0 $light-grey;
}


@include for-tablet-landscape-up {
  .appBar {
    padding:  0px 120px;
  }
  .appBarButton, .appBarLink, .appBarLinkActive {
    font-size: 12px;
    margin-top: 30px;
  }
  .appBarLogo {
    margin: -2px;
  }
}
