@import '../../styles/_colors';

.tablePagination {
  text-align: center;
  .paginationButton {
    background-color: $faded-green;
    height: 40px;
    font-family: Halcom-bold;
    color: $primary-green;
    width: 40px;
    padding: 8px;
    border: none;
    margin:10px 0 0 10px;
    &:hover, &:focus, &.active {
      background: $primary-green;
      color: white;
    }
  }
  .pageNextButton {
    color: $primary-green;
    margin-left: 15px;
    outline: none;
    border: none;
    background: none;
  }
  .ellipsis {
    top: 18px;
    position: relative;
    font-size: 18px;
    margin: 0 5px 0 12px;
    color: $medium-grey;
  }
}
