@import '../../styles/_colors';
@import '../../styles/_mixins';

.tabButton {
  background: none;
  border: none;
  width: 100%;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $dark-grey;
  font-family: Halcom-bold;
  border-bottom: 5px solid transparent;
  transition: .3s border-bottom;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  &.active {
    border-bottom: 5px solid $primary-green;
  }
  &:focus {
    outline: none;
    border-bottom: 5px solid $primary-green;
  }
}

@include for-tablet-portrait-up {
  .tabButton {
    width: auto;
    margin-bottom: 0;
    margin-right: 35px;
  }
}
