@import '../../styles/_colors';

.upDownButtons {
  display: inline-block;
  vertical-align: middle;
}

.upDownButton {
  background: none;
  border: none;
  color: $primary-green;
  display: block;
  &:focus {
    color: darken($primary-green, .5);
    outline: none;
  }
}

.disabledUpDownButton {
  pointer-events: none;
  color: $light-grey!important;
}
