@import '../../styles/_colors';
@import '../../styles/_mixins';

.contentImage {
  width: auto;
  background-size: contain;
  height: 400px!important;
  background-repeat: no-repeat;
  background-position: center;
}

:global {
  .slick-prev:before, .slick-next:before {
    color: $dark-grey!important;
  }
}

@include for-phone-only  {
  .contentImage {
    height: 250px!important;
  }

  :global {
    .slick-next {
      right: 0px!important;
      z-index: 10!important;
    }

    .slick-prev {
      left: 0px!important;
      z-index: 10!important;
    }
  }
}

@include for-tablet-portrait-up {
  :global {
    .slick-next {
      right: 0px!important;
      z-index: 10!important;
    }

    .slick-prev {
      left: 0px!important;
      z-index: 10!important;
    }
  }
}
