@import '../../styles/_colors';

.hiddenInput {
  display: none;
}

.cantResize {
  textarea {
    resize: none;
  }
}

.channelForm {
  padding: 13px;
  background: white;
  margin: 150px auto;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 5px 0 $light-grey;
}

.deleteButton {
  color: #e1e1e1;
  background: transparent;
  border: none;
  text-align: center;
  border-radius: 3px;
  padding: 14px 13px;

  &:hover {
    color: #7d0200;
    background: #d0021b;
  }

  .deleteIcon {
    margin: 0;
  }
}
