@import '../../../../styles/_colors';

.imageList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 14px;
}

.imageListItem {
  display: block;
  position: relative;
  margin-bottom: 10px;
  width: 140px;
  border: 1px solid $lighter-grey;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.fillerItem {
  height: 0px;
  margin-bottom: 0px;
  border: none;
}

.loadingItem {
  border: 1px dashed $primary-green;
  display: flex;
  align-items: center;
}

.toolbar {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

.toolbarButton {
  opacity: .6;
  &:hover, &:focus {
    opacity: 1;
  }
}
