@import '../../styles/_colors';
@import '../../styles/_variables';

.subscribersTableNoContentMessage {
  padding: 10px 0;
  margin: 0;
  color: $medium-grey;
}

.subscribersTableWrapper {
  margin-bottom: 30px;
}
