@import '../../../styles/_colors';
@import '../../../styles/_variables';

.contentTable {

  th {
    &.alignRight {
      text-align: right!important;
    }
  }

  tr {
    &.disabled {
      color: $medium-grey;
    }
  }

  td {
    &.alignRight {
      text-align: right;
    }

    .subText {
      font-size: $font-xsmall;
      color: $medium-grey;
    }
  }

  .fadedCell {
    color: $medium-light-grey;
  }

  .viewContentLink {
    font-size: 12px;
    text-decoration: underline;
  }

  .dropdown {
    a {
      color: black;
    }
  }

}

.contentTableNoContentMessage {
  text-align: center;
  padding: 80px;
  color: $medium-grey;
}
