@import '../../styles/_colors';

.activityPageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}

.answerNumberLabel {
  font-weight: bold;
  margin: 15px 0;
  display: inline-block;
}

.answerInputRow {
  padding-top: 0!important;
}

.answerInputColumn {
  padding: 0!important;
  .answerInputWrapper {
    position: relative;
  }

  .answerInputCorrectIcon {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
    color: $primary-green;
  }

}

.hiddenInput {
  display: none;
}

.correctInput {
  input[type="text"] {
    padding-left: 40px!important;
    border: 2px solid $primary-green!important;
    &:focus {
      border: 2px solid $primary-green!important;
    }
  }
}

.incorrectInput {
  input[type="text"] {
    &:focus {
      border: 1px solid $medium-grey!important;
    }
  }
}

.removeAnswerButton {
  float: right;
  color: $medium-grey;
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
}

.backButton {
  padding: 0;
  border: none;
  float: left;
}

.activityBuilderBar {
  background: $darker-green;
  padding: 0px;
  width: 100%;
  h2 {
    color: white;
    font-family: Halcom;
    font-weight: lighter;
  }

  .deleteButton {
    background: $dark-green;
    font-size: 20px;
    color: white;
    margin-right: 15px;
    &:hover {
      background: lighten($dark-green, 0.9);
      color: $light-grey;
    }
  }
}

.activityFormTopBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  box-shadow: 0 2px 2px 0 $light-grey;
  text-align: center;

  .activityFormTopBarTitle {
    display: inline-block;
    color: $dark-green;
  }

  .subheader {
    color: $medium-grey;
    font-size: 10px;
  }

  .activityFormTopBarTitleLogo {
    width: 25px;
    margin-right: 15px;
    vertical-align: middle;
    position: relative;
    top: -3px;
  }
}
