@import '../../styles/_colors';

.addButton {
  border: none;
  color: $medium-grey;
  padding: 0;
  .addButtonIcon {
    color: $primary-green;
  }
  &:focus {
    outline: none;
    color: $dark-grey;
  }
}
