@import '../../styles/_colors';

.linkButton {
  color: $primary-green;
  &:hover, &:focus {
    color: $dark-green;
  }
  background: none;
  border: none;
  padding: 0;
  &[disabled] {
    color: $light-grey;
  }
}
