@import '../../styles/_colors';

.tag {
  display: inline-block;
  padding: 10px 14px;
  background: $faded-green;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: $primary-green;
  border-radius: 4px;
  font-family: Halcom-light;
}

.tagsLight {
  .tag {
    background: $faded-green;
    color: $primary-green;
    font-family: Halcom;
  }
}

tr:hover .tag {
  border: 1px solid $primary-green;
}
