@import '../../../styles/_colors';

.videoWrapper {
  position: relative;
}

.toolbar {
  position: absolute;
  left: 0px;
  top: 0px;
}

.toolbarButton {
  background: rgba(0, 0, 0, .3);
  color: white;
  &:hover, &:focus {
    opacity: 1;
  }
}

.progressMessage {
  padding: 80px 25px 40px 25px;
  border: 1px dashed $light-grey;
  text-align: center;
  transition: .5s all;
  color: $medium-grey;
}
