@import '../../styles/_colors';
@import '../../styles/_variables';

.pageHeader {
  font-size: 64px;
  text-align: center;
  color: $darkest-grey;
  font-family: $primary-font-family-bold;
}

.pageSubtitle {
  font-size: 18px;
  text-align: center;
  color: $darkest-grey;
}

.backButtonWrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 58px;
}

.backButton {
  text-transform: uppercase;
  color: $primary-green;
  letter-spacing: 3px;
  font-family: $primary-font-family-bold;
  vertical-align: middle;
  line-height: 58px;
  :global(i.circular.icon) {
    border: none;
    background-color: $faded-green;
    box-shadow: none;
    text-align: center;
  }
}


.errorCodeText {
  font-family: $primary-font-family-black;
  font-size: 35vw;
  text-align: center;
  line-height: 36vw;
  color: $white;
  text-shadow: 0 10px 20px $shadow-grey;
}
