@import '../../../styles/_colors';

.usersTable {
  th {
    &.alignRight {
      text-align: right;
    }
  }

  td {
    &.alignRight {
      text-align: right;
    }
  }

  .fadedCell {
    color: $medium-light-grey;
  }

  .disabledUserIcon {
    color: $medium-light-grey;
  }
}

.usersTableNoContentMessage {
  text-align: center;
  padding: 80px;
  color: $medium-grey;
}

.createButton {
  text-transform: uppercase;
  color: $primary-green;
  letter-spacing: 3px;
  font-family: halcom-bold;
  vertical-align: middle;
  line-height: 42px;
  :global(i.circular.icon) {
    border: none;
    background-color: $faded-green;
    box-shadow: none;
  }
}
