@import '../../../styles/_colors';
@import '../../../styles/_mixins';

.contentImage {
  width: auto;
  background-size: contain;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
}

:global {
  .slick-prev:before, .slick-next:before {
    color: $dark-grey;
  }
}

@include for-phone-only  {
  .contentImage {
    height: 250px;
  }

  :global {
    .slick-next {
      right: 0px;
      z-index: 10;
    }

    .slick-prev {
      left: 0px;
      z-index: 10;
    }
  }
}

@include for-tablet-portrait-up {
  :global {
    .slick-next {
      right: 0px;
      z-index: 10;
    }

    .slick-prev {
      left: 0px;
      z-index: 10;
    }
  }
}
