.videoPlayerContainer {
  width: 100%;
  min-height: 350px;
  // desired height
  height: 600px;
  // prevent portrait (skinny) videos from taking up more than the height
  // of the viewport. should never have to scroll to view the full video.
  max-height: 90vh;
}
