@import '../../styles/_colors';
@import '../../styles/_variables';

.tableIcon {
  color: $medium-grey;
  font-size: $font-medium;
}

.tableTitle {
  color: $dark-grey;
  font-family: halcom-bold;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

.visibilityRadioInput {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.tableSubtitle {
  color: $medium-grey;
  font-family: 'Halcom';
  display: inline-block;
  padding-left: 4px;
}

.editUserSubscriptionsButton {
  background: none;
  border: none;
  color: $primary-green;
  font-size: 12px;
  margin-left: 5px;
}

.visibilityRadioInput {
  display: block;
}

.fixedFooterFormButtons {
  background: $darker-green;
  padding: 0px;
  width: 100%;
  h2 {
    color: white;
    font-family: Halcom;
    font-weight: lighter;
  }

  .iconButton {
    background: $dark-green;
    font-size: 20px;
    color: white;
    margin-right: 15px;
    &:hover {
      background: lighten($dark-green, 0.9);
      color: $light-grey;
    }
  }
}
