@import '../../styles/_colors';

.createUserPageContainer {
  display: inline-block;
  width:80%;
}

:global(.ui.toggle.checkbox).userInput  input:checked~label:before {
  background-color: $primary-green !important;
}
