$white: #ffffff;
$background-grey: #f5f6f7;
$lighter-grey: #f6f7fb;
$light-grey: #ebebeb;
$medium-light-grey: #e6e9ee;
$medium-grey: #aab2bd;
$medium-grey-2: #b1b3b5;
$dark-grey: #656d78;
$dark-grey-2: #404041;
$darkest-grey: darken($dark-grey, 20);
$shadow-grey: rgba(64, 64, 65, 0.09);
$invalid-red: #DB2828;
$teal: #1faab4;
$primary-green: #00B49C;
$dark-green: #018a97;
$darker-green: #076470;
$faded-green: #edf9f7;
$faded-green-2: #1eaab4;
$secondary-green: #8CC63E;

$transparent-black: rgba(0,0,0,.87);
