$font-large: 20px;
$font-medium: 16px;
$font-regular: 14px;
$font-small: 12px;
$font-xsmall: 10px;

$primary-font-family: halcom, helevetica, sans-serif;
$primary-font-family-bold: halcom-bold, helevetica, sans-serif;
$primary-font-family-black: halcom-black, helevetica, sans-serif;
