@import '../../styles/_colors';

.pollResults {
  max-width: 700px;
  margin: 0 auto;
}

.resultsCloseButton {
  color: black;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 100;
}

.pollResultTotalBar {
  width: 600px;
  height: 70px;
  border-radius: 35px;
  background-color: white;
  border: solid 2px $medium-grey;
  position: relative;
  margin-bottom: 25px;
  .fill {
    height: 66px;
    border-radius: 100px;
    background-color: $medium-grey;
  }
  &.topResult {
    border-color: $primary-green;
    .fill {
      border-color: $primary-green;
      background-color: $primary-green;
    }
  }
  .response {
    height: 14px;
    font-size: 12px;
    letter-spacing: 0.1px;
    text-align: left;
    color: black;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -8px;
  }
  .percent {
    height: 14px;
    font-size: 12px;
    letter-spacing: 0.1px;
    text-align: left;
    color: $dark-grey;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -8px;
  }
}

.pollResultsTopBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  box-shadow: 0 2px 2px 0 $light-grey;
  text-align: center;
  background-image: url('../../images/confetti.png');
  background-color: $primary-green;
  background-repeat: repeat;
  background-size: cover;

  .pollResultsTopBarTitle {
    display: inline-block;
    color: white;
  }

  .backButton {
    padding: 0;
    border: none;
    float: left;
    color: white;
    background: none;
  }
}
