@import '../../styles/_colors';

.channelDetailBar {
  padding: 15px 65px;
  box-shadow: 0 2px 2px 0 $light-grey;
  width: 100%;
  margin-bottom: 20px;
  vertical-align: middle;

  h3 {
    padding-left: 92px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
  }

  .backButton {
    padding: 0;
    border: none;
    vertical-align: middle;
    color: $primary-green;
  }

  .subheader {
    color: $medium-grey;
    font-size: 10px;
  }

  .channelNameHeader {
    margin-bottom: 0;
  }

  .editButton {
    position: relative;
    top: -6px;
    float: right;
  }

  .infoButton {
    position: relative;
    top: 5px;
    float: right;
  }
}

.detailsModal {
  padding: 13px;
  background: white;
  margin: 150px auto;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 5px 0 $light-grey;
}
