@import '../../../styles/_colors';

.activityWrapper {
  margin-bottom: 30px;
}

.activityQuestion {
  margin-bottom: 50px;
}

.activityChoice {
  border: 2px solid #aab2bd;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 5px;
  max-width: 450px;
  &.correct {
    border-color: $primary-green;
  }
  .correctCheck {
    color: $primary-green;
  }
}
