@import '../../styles/_colors';
@import '../../styles/_variables';

.popup {
  max-width: 400px !important;
  background: $primary-green !important;

  &.large .header {
    font-size: $font-large;
  }
}

.popup:before {
  background: $primary-green !important;
}

.content {
  color: $darkest-grey;
}

.header {
  color: $background-grey;
  font-family: $primary-font-family-bold;
  font-size: $font-medium;
  margin-bottom: 10px;
}

.triggerIcon {
  color: $primary-green;
}
