@import '../../../styles/_colors';

.seriesTable {

  th {
    &.alignRight {
      text-align: right;
    }
  }


  td {
    &.alignRight {
      text-align: right;
    }
  }

  .fadedCell {
    color: $medium-light-grey;
  }

}

.seriesTableNoContentMessage {
  text-align: center;
  padding: 80px;
  color: $medium-grey;
}
