@import '../../../../styles/_colors';

.activityItem {
  border: none;
  border-radius: 4px;
  padding: 0!important;
  position: relative;
  cursor: pointer;
  margin-top: 15px;
  display: block;
  width: 100%;
  text-align: left;
  box-shadow: 0 0px 4px 1px $light-grey;

  .activityItemTypeLabel {
    padding: 15px;
    text-align: center;
    display: inline-block;
  }

  .activityItemPreview {
    display: inline-block;
    padding: 15px;
    font-size: 16px;
  }

  .viewResultsButton {
    float: right;
    margin: 15px;
    font-size: 12px;
    text-decoration: underline;
    color: $primary-green;
    cursor: pointer;
    border: none;
    background: none;
  }

  .activityItemIcon {
    width: 25px;
  }

}
