.fullScreenModalBackground {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.fullScreenModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2
}
