@import '../../styles/_colors';

.headerRow {
  margin-bottom: 50px;
}

.sidebarWrapper {
  margin-bottom: 30px;
}

.sidebarAuthorInfo {
  margin-bottom: 50px;
}

.sidebarLinks {
  margin-bottom: 30px;
  a, button {
    text-decoration: underline;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    border: none;
    color: $primary-green;
    padding: 0;
  }
}

.sidebarStats {
  margin-bottom: 30px;
  .sidebarStat {
    margin-bottom: 10px;
    i {
      color: $medium-grey;
    }
  }
}

.sidebarSeriesInfo {
  .seriesTitle {
    margin-bottom: 15px;
  }
  a {
    text-decoration: underline;
  }
}

.contentWrapper {
  margin-bottom: 20px;
}

.activitiesWrapper {
  margin: 30px 0;
  border-top: 2px solid $light-grey;
}

.activityIcon {
  color: #00B49C;
  font-size: 40px!important;
  display: block!important;
  width: 40px!important;
  margin: 20px auto!important;
}

.contentDescription {
  white-space: pre-line;
  margin-top: 25px;
  display: block;
}
