@import '../../styles/_colors';
@import '../../styles/_variables';
@import '../../styles/_mixins';

.contentContainer {
  padding: 35px 0;
}

.contentDescription {
  color: $medium-grey;
  font-size: $font-regular;
  line-height: 2.14;
  white-space: pre-line;
}

.contentTitle {
  color: $dark-grey;
  font-size: $font-large;
  font-family: Halcom-medium ;
}

.pageBreak {
  border-bottom: 1px $light-grey solid;
  margin-top: 40px;
  margin-bottom: 60px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  color: $primary-green;
  background-color: $faded-green;
  padding: 4px 10px;
  text-align: center;
  margin-right: 12px;
  margin-bottom: 8px;
}

.metaText {
  font-size: $font-medium;
  color: $dark-grey;
}

.metaSubtext {
  font-size: $font-small;
  color: $medium-grey;
}

.metaTitle {
  font-size: $font-xsmall;
  color: $medium-grey;
  font-family: Halcom-black;
  letter-spacing: 1.7px;
}

.pageMessage {
  text-align: center;
}

// .ui.grid is from semantic ui so to override we need to wrap it in :global()
:global(.ui.grid) {
  display: block;
  margin: 0;
}

@include for-phone-only {
  .pageBreak {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  // .ui.grid is from semantic ui so to override we need to wrap it in :global()
  // this let's the author, tags, published go to the edges of screen on mobile
  :global(.ui.grid>).metaRow:global(.row>.column) {
    padding-left: 0;
    padding-right: 0;
  }
}
