@import '../../../styles/_colors';

.textInputCharCountWrapper {
  position: relative;
  .charCount {
    position: absolute;
    bottom: 13px;
    right: 10px;
    font-size: 12px;
    color: $medium-grey;
  }
}
