@import '../../../styles/_colors';
@import '../../../styles/_variables';

.channelTable {

  th {
    &.alignRight {
      text-align: right!important;
    }
  }

  td {
    &.alignRight {
      text-align: right;
    }

    .boldText {
      font-family: $primary-font-family-bold;
    }

    .subText {
      font-size: $font-small;
    }
  }

  .fadedCell {
    color: $medium-light-grey;
  }
}

.channelTableNoContentMessage {
  text-align: center;
  padding: 80px;
  color: $medium-grey;
}
