@import '../../styles/_colors';

.contentForm {
  .postInput {
    width: 100%;
  }
  input[type="text"], textarea {
    border: 1px solid $light-grey;
    width: 100%;
    padding: 14px;
    &:focus {
      border: 1px solid $primary-green;
      outline: none;
    }
  }
  textarea {
    padding: 8px;
  }

  .actionItem {
    padding: 15px 0;
    border-bottom:1px solid $light-grey;
  }

  .addActionItemButton {
    width: 35px;
    height: 30px;
    box-sizing: border-box;
    padding: 0;
    padding-left: 8px;
    margin-top: 8px;
  }

  .hiddenField {
    display: none;
  }

  .contentItemStatus {
    border: none;
    outline: none;
    background: none;
  }

  .activityButtonsWrapper {
    margin-top: 15px;
  }

  .addActivityButton {
    width: 110px;
    height: 101px;
    padding: 0;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    box-shadow: 0 2px 2px 0 $light-grey;
    &:focus {
    }
    &.addQuestionSetActivityButton {
      background: $teal;
    }
    &.addPollActivityButton {
      background: $primary-green;
      .addActivityButtonImage {
        padding: 12px 10px;
        img {
          width: 45px;
        }
      }
    }
    .addActivityButtonText {
      padding: 6px;
      background: white;
      font-size: 12px;
      border-radius: 0 0 6px 6px;
    }
    .addActivityButtonImage {
      padding: 15px 10px;
      img {
        width: 40px;
      }
    }
  }

  .saveMessage {
    color: $medium-grey;
    text-align: right;
    margin-top: 10px;
  }
}

.toolbar {
  display: flex;
  justify-content: flex-end;
}

a.copyLink {
  font-size: 12px;
  padding-left: 10px;
  &:hover {
    text-decoration: underline;
  }
}
