@import '../../../styles/_colors';
@import '../../../styles/_variables';

.contentTable {


  thead {
    tr {
      background: none;
      &:hover {
        background: none;
      }
    }
  }

  th {
    &.alignRight {
      text-align: right!important;
    }
  }

  td {
    border-bottom: 1px solid transparent;
    &.alignRight {
      text-align: right;
    }

    .subText {
      font-size: $font-xsmall;
      color: $medium-grey;
    }
  }

  .fadedCell {
    color: $medium-light-grey;
  }

}

.contentTableNoContentMessage {
  text-align: center;
  padding: 80px;
  color: $medium-grey;
}
