/*
 The only way to override the odd defaults provided by video-react
 We just want the video player to take up the entire height and width of its
 parent. Size is then left to be controlled by the parent component.
*/
.video-react {
  border-radius: 3px;
  height: 100% !important;
  width: 100% !important;
  min-height: 300px;
  font-family: halcom, helevetica, sans-serif;
}
