.notificationHeader {
  text-align: center;
  border: none!important;
}

.notificationContent {
  text-align: center;
  display: block!important;
}

.notificationActions {
  border: none!important;
  text-align: center!important;
}
