@import '../../styles/_mixins';

.primaryPageContainer {
  padding: 30px;
}

@include for-tablet-landscape-up {
  .primaryPageContainer {
    padding: 65px;
  }
}

@include for-phone-only {
  .primaryPageContainer {
    padding: 15px;
  }
}
