@import '../../styles/_colors';
@import '../../styles/_variables';

.table {
  .tableIcon {
    color: $medium-grey;
    font-size: $font-medium;
  }
}

.tableTitle {
  color: $dark-grey;
  font-family: halcom-bold;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

.tableSubtitle {
  color: $medium-grey;
  font-family: 'Halcom';
  display: inline-block;
  padding-left: 4px;
}

.subscribersTableNoContentMessage {
  padding: 10px 0;
  margin: 0;
  color: $medium-grey;
}
