@import '../../styles/_colors';

.createButton {
  text-transform: uppercase;
  color: $primary-green;
  letter-spacing: 3px;
  font-family: halcom-bold;
  vertical-align: middle;
  line-height: 42px;
  :global(i.circular.icon) {
    border: none;
    background-color: $faded-green;
    box-shadow: none;
  }
}

:global(.ui.toggle.checkbox).adminToggle  input:checked~label:before {
  background-color: $primary-green !important;
}
