@import '../../styles/_colors';
@import '../../styles/_variables';

.clickableRow {
  transition: .2s background;
  cursor: pointer;
  &:hover {
    background: $faded-green;
    td {
      border-bottom: 1px solid $primary-green;
    }
  }
  &.disabled {
    color: $medium-grey;
  }
}
