@import '../../styles/_colors';

// Override styles set by semantic for sortable table header cells
.unsortable {
  cursor: auto !important;

  &:hover {
    background-color: transparent !important;
    color: $medium-grey-2 !important;
  }
}
