@import '../../../styles/_colors';

.textFieldCharCountWrapper {
  position: relative;
  .charCount {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: $medium-grey;
  }
}
