@import '../../styles/_colors';

.progressBar {
  width: 100%;
  top: 0;
  left: 0;
  padding-bottom: 2px;
  position: fixed;
  // keeps it on top of the semantic-react-ui fullscreen notification
  z-index: 1001;
  // a lot of our app is white, give some definition to bar when over white surface
  background-color: $primary-green;
  .progressInnerBar {
    background: white;
    width: 0;
    height: 6px;
    transition: .5s all;
  }
}
